<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <!--<div id="app2">{{a}}</div>-->
        <!--<div>{{a}}</div>-->
        <el-container class="fullHeight">
            <el-header>Header</el-header>
            <el-container>
                <el-aside width="200px">
                    <el-menu
                            default-active="1-2"
                            class="el-menu-vertical-demo">
                            <!--@open="handleOpen"-->
                            <!--@close="handleClose">-->
                        <el-submenu index="1">
                            <template slot="title">
                                <i class="el-icon-location"></i>
                                <span>导航一</span>
                            </template>
                            <el-menu-item-group>
                                <template slot="title">分组一</template>
                                <el-menu-item index="1-1">选项1</el-menu-item>
                                <el-menu-item index="1-2">选项2</el-menu-item>
                            </el-menu-item-group>
                            <el-menu-item-group title="分组2">
                                <el-menu-item index="1-3">选项3</el-menu-item>
                            </el-menu-item-group>
                            <el-submenu index="1-4">
                                <template slot="title">选项4</template>
                                <el-menu-item index="1-4-1">选项1</el-menu-item>
                            </el-submenu>
                        </el-submenu>
                        <el-menu-item index="2">
                            <i class="el-icon-menu"></i>
                            <span slot="title">导航二</span>
                        </el-menu-item>
                        <el-menu-item index="3" disabled>
                            <i class="el-icon-document"></i>
                            <span slot="title">导航三</span>
                        </el-menu-item>
                        <el-menu-item index="4">
                            <i class="el-icon-setting"></i>
                            <span slot="title">导航四</span>
                        </el-menu-item>
                    </el-menu>
                </el-aside>
                <el-main v-loading="loading">
                    <div class="result" v-if="!loading">
                        <div class="searchField">
                            <div v-for="item in pageData.search.field">
                                <component v-if="item.model == undefined || item.model"
                                           :is="item.component" v-model="item.showValue"
                                           :placeholder="item.props.placeholder"
                                           :type="item.props.type"
                                           :maxlength="item.props.maxlength || 9999"
                                           :minlength="item.props.minlength || 0"
                                           :clearable="item.props.clearable || false"
                                           :disabled="item.props.disabled"
                                           :size="item.props.size"
                                           :rows="item.props.rows || 2"
                                           :autosize="item.props.autosize || false"
                                           :name="item.props.name"
                                           :readonly="item.props.readonly"
                                           :max="item.props.max"
                                           :min="item.props.min"
                                           :step="item.props.step"
                                           :resize="item.props.resize"
                                           :autofocus="item.props.autofocus"
                                           :form="item.props.form"
                                           :label="item.props.label"
                                           :tabindex="item.props.tabindex"
                                           :text-color="item.props.textColor || '#ffffff'"
                                           :fill="item.props.fill || '#409EFF'"
                                           :prefix-icon="item.props.prefixIcon"
                                           :suffix-icon="item.props.suffixIcon"
                                           :auto-complete="item.props.autoComplete || 'off'"
                                           :true-label="item.props.trueLabel"
                                           :false-label="item.props.falseLabel"
                                           :border="item.props.border"
                                           :checked="item.props.checked"
                                           :indeterminate="item.props.indeterminate"
                                >
                                    <template v-if="item.children && item.children.length">
                                        <component v-for="childItem in item.children" :is="childItem.component"
                                                   :label="childItem.props.label"
                                                   :key="childItem.props.label || childItem.props.text"
                                                   :disabled="childItem.props.disabled"
                                                   :name="childItem.props.name"
                                                   :border="childItem.props.border"
                                                   :size="childItem.props.size"
                                                   :true-label="childItem.props.trueLabel"
                                                   :false-label="childItem.props.falseLabel"
                                                   :checked="childItem.props.checked"
                                        >
                                            {{childItem.props.label}}
                                            {{childItem.props.text}}
                                        </component>
                                    </template>
                                </component>
                                <component v-else :is="item.component"></component>
                            </div>
                        </div>
                    </div>
                    <!--<el-table :data="tableData3" style="width: 100%" height="250">-->
                        <!--<el-table-column fixed type="selection" width="55"></el-table-column>-->
                        <!--<el-table-column prop="date" label="日期" width="150"></el-table-column>-->
                        <!--<el-table-column prop="name" label="姓名" width="120"></el-table-column>-->
                        <!--<el-table-column prop="province" label="省份" width="120"></el-table-column>-->
                        <!--<el-table-column prop="city" label="市区" width="120"></el-table-column>-->
                        <!--<el-table-column prop="address" label="地址" width="300"></el-table-column>-->
                        <!--<el-table-column prop="zip" label="邮编" width="120"></el-table-column>-->
                        <!--<el-table-column fixed="right" label="操作" width="100">-->
                            <!--<template slot-scope="scope">-->
                                <!--<el-button type="text" size="small">查看</el-button>-->
                                <!--<el-button type="text" size="small">编辑</el-button>-->
                            <!--</template>-->
                        <!--</el-table-column>-->
                    <!--</el-table>-->
                </el-main>
            </el-container>
        </el-container>
    </div>


<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="assembly.js"></script>
<script src="test.js"></script>
</body>
</html>